#cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 350px;
}

#pokedex-background{
    margin-top: 20px;

    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;

    background-color: rgba(0, 0, 0, 0.178);

    border-radius: 20px;
}