*{
    margin: 0;
    padding: 0;

    text-decoration: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar{
    margin-top: 40px;

    position: fixed;

    width: 80%;

    display: flex;
    justify-content: space-evenly;

    background-color: cyan;
};