*{
    margin: 0;
    padding: 0;

    text-decoration: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar{
    font-size: 24px;

    margin-top: 80px;
    padding: 10px 0px 10px 0px;

    position: fixed;

    width: 60%;

    display: flex;
    justify-content: space-evenly;

    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 4px 4px 1px black;

    background-color: rgb(131, 161, 161);

}

#navbar a{
    transition: transform 1s;
}

#navbar a:hover{
    transform: scale(1.25);
}