
#result-closed{
    width: 0px;
    height: 0px;
}

#result-open{
    margin: 20px;

    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;

    gap: 14px;

    width: 250px;
}

#result-open img{
    margin: 0 auto;
    width: 180px;
}